*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}



#navbarBlock>article>span>a{
   padding: 8px 15px;
   background-color: rgb(68, 199, 206);
color:#fff;
font-weight: lighter;
font-weight: bold;
text-decoration: none;
text-transform: capitalize;
border-radius: 4px;
}

#navbarBlock>article>span>a:hover{
    padding: 8px 15px;
    border:2px solid  rgb(68, 199, 206);
    background-color: #fff;
    color: rgb(68, 199, 206);
    font-weight: lighter;
font-weight: bold;
text-transform: capitalize;
transition: all ease-in-out 0.3s;
}




